
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
   
}
.container_all{
    margin-top:130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.199);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    padding: 40px 40px;
    

}


.text{
    padding: 15px 30px;
    background-color: hsl(157, 70%, 26%);
    border-radius: 12px;
    font-size: 30px;
    color:rgb(255, 255, 255);
    margin-bottom: 50px;
}
.text-2{
    margin-top: 50px;
    font-size: 25px;
    color: hsl(157, 100%, 60%);

}
.container{
    margin-top: 30px;
    display: flex;
    gap:23px;
}


.btn-container{
    margin-left:21px;
    display: flex;
    margin-top: 30px;
    width:100%;
    gap:23px;
    align-items: center;
    justify-content: center;
}
button {
  
    padding-top: 30 px;
    background-color:#ffffff;
    color: #000000;
    padding: 10px 25px;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
    border: none;
 
}
button:hover {
    background-color:hsl(157, 100%, 60%);
    color: rgb(0, 0, 0);
    animation: jump 1s infinite; 
}
.img{
    max-width: 100px;
    border-radius: 100px;
    gap: 3px;
}
@keyframes jump {
    0%, 20%, 50%,  100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-5px);
    }
    60% {
        transform: translateY(-10px);
    }
    80%{
        transform: translateY(-15px);
    }
}

.img:hover {
    animation: jump 1.5s infinite; 
}
#overall_result
{
    
    color:rgb(255, 255, 255);
    font-size: 24px;
    margin:30px;
   
   
}
.result{
    display: flex;
    margin-top: 50px;
    gap:15px;
    color:white;
  
}

#btn{
    background-color:hsl(157, 100%, 60%);
}
#btn:hover {
    background-color:hsl(0, 0%, 100%);
    color: rgb(0, 0, 0);
    animation: jump 1s infinite; 
    
}